COMPOSE_PROJECT_NAME=streaming-video-server
IMAGE_NAME=ghcr.io/sean-xinli/streaming-video-server:latest
STREAM_PORT=8080
STREAM_MODEL_TYPE=lite
STREAM_PUBLIC_ORIGIN=*
STREAM_ICE_MODE=auto
STREAM_ICE_SERVER_URLS=stun:stun.l.google.com:19302
STREAM_MAX_CONCURRENT_SESSIONS=1
STREAM_INFERENCE_WORKERS=1
STREAM_STARTUP_WARMUP_RUNS=1
STREAM_CAPTURE_MS=20
STREAM_INPUT_CHUNK_MS=40
STREAM_OUTPUT_FPS=25
STREAM_PLAYOUT_BUFFER_MS=300
SOULX_USE_FACE_CROP=0
SOULX_BASE_SEED=42
HF_ENDPOINT=
HF_TOKEN=
MODEL_DOWNLOAD_FORCE=0
